*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FBF9D5;
}
img{
    width: 100%;
    display: block;
}
header{
    border-bottom: 1.7px solid black;
    background-color: #FCFDF2 ;
    padding: 15px 64px;
    color: #505233;
    font-size: large;
}
header a{
    color: #505233;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
section{
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #FBF9D5;
    padding: 120px 40px;
}
button{
    background-color: #505233;
    border-radius: 25px;
    border: none;
}
.nav-links{
    width: 24%;
    display: flex;
    justify-content: space-between;
}
.nav-links-button{
    padding: 12px 21px;
    position: relative;
    bottom: 6px;
}
.nav-links-button a{
    color: white;
    font-size: larger;
    letter-spacing: 0.2px;
}
a{
    text-decoration: none;
}
.project{
    margin-top: 5px;
}

/* Homepage */
.intro{
    background-color: #FBF9D5;
    padding: 64px;
    border-bottom: 1.7px solid black;
}
.intro-text{
    width: 40%;
    position: relative;
    top: 140px;
    color: #232503;
}
.intro-text h1{
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 30px;
}
.intro-text p{
    font-size: 22px;
}
.intro-text button{
    padding: 21px 109px;
    position: relative;
    top: 40px;
    word-spacing: 2px;
    border-radius: 30px;
}
.intro-text button a{
    color: white;
    font-size: larger;
    letter-spacing: 0.2px;
}
.Bright{
    border-radius: 40px;
    overflow: hidden;
    margin-top: 12px;
    width: 40%;
    margin-right:45px;
}
.Bright-at-work{
    width: 50%;
}
.section-2-text{
    width: 50%;
    background-color: #FCFDF2;
}
.section-2-text-div{
    width: 70%;
    margin: 24% 0% 5% 15%;
    color: #484A30;
}
.section-2-text-div h2{
    margin-bottom: 30px;
    font-size: 35px;
}
.section-2-text-div h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.section-2-text-div p{
    margin: 20px 0px;
    line-height: 25px;
}
.work-experience{
    display: flex;
    padding: 90px 10px;
    justify-content: space-around;
    background-color: #232503;
    width: 100%;
    color: #FBF9D5;
    font-size: 20px;
}
.feedback{
    width: 100%;
}
.clients{
    margin-left: 80px;
    font-size: 26px;
    margin-bottom: 20px;
    color: #484A30;
}
.clients-comments{
    display: flex;
    justify-content: space-around;
    width: 99%;
    line-height: 23px;
    font-size: 18px;
    color: #484A30;
}
.section-4{
    text-align: center;
    background-color: #FCFDF2;
}
.recent-projects-div{
    background-color: #484A30;
    margin: 50px 0px;
    width: 30%;
    padding: 30px;
    color: #FBF9D5;
    border-radius: 30px;
}
.recent-projects-main-div h1{
    font-size: 30px;
    margin-top: 30px
}
.recent-projects-main-div h2{
    margin-bottom: 30px
}
.recent-projects-main-div p{
    margin-bottom: 20px;
}
.recent-projects-main-div a{
    text-decoration: underline;
    color: black;
}
.recent-projects-main-div{
    width: 100%;
    margin-top: 5px;
    padding: 10px 90px 100px 90px;
    gap: 30px;
}
.recent-projects{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-size: large;
    text-align: left;
}
.section-6{
    background-color: #FBF9D5;
}
.form{
    background-color: #484A30;
    width: 80%;
    margin-left: 7%;
    padding: 70px 50px 50px 50px;
    border-radius: 50px;
    margin-top: 20px;
    color:  #FBF9D5;
    margin-bottom: 40px;
}
.section-7{
    text-align: center;
}
.section-7-div{
    width: 100%;
}
.submit{
    width: 60%;
    background-color: #232503;
    color: #FCFDF2;
    padding: 10px;
}
label{
    font-size: larger;
}
input{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #FCFDF5;;
}
.email{
    width: 74%;
}
.section-7-div h3{
    margin: 40px 10px ;
    font-size: 30px;
    color: #484A30;
}
.section-7{
    border: none;
    border-bottom: 1.6px solid black;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-bottom: 80px;
    background-color: #FCFDF2;
}

/* projects page */
.project-section-1-text{
    width: 50%;
    background-color: #484A30;
    color: #FCFDF2;
}
.project-section-1-Image{
    width: 50%;
}
.project-section-2-text{
    width: 50%;
    background-color: #484A30;
    color: #FCFDF2;
}
.project-section-2-Image{
    width: 50%;
}
.project-section-3-text{
    width: 50%;
    background-color: #484A30;
    color: #FCFDF2;
}
.project-section-3-Image{
    width: 50%;
}
.project-section-1-button{
    background-color: #FCFDF2;
    width: 40%;
    padding: 16px;
}
.project-section-1-button a{
    text-decoration: none;
    color: #484A30;
}
.project-section-2-button{
    background-color: #FCFDF2;
    width: 40%;
    padding: 16px;
}
.project-section-2-button a{
    text-decoration: none;
    color: #484A30;
}
.project-section-3-button{
    background-color: #FCFDF2;
    width: 40%;
    padding: 16px;
}
.project-section-3-button a{
    text-decoration: none;
    color: #484A30;
}
.project-section-1-text h1{
    font-size: 60px;
    font-weight: 100;
    padding-top: 120px;
    padding-bottom: 40px;
}
.project-section-1-text p{
    line-height: 20px;
    font-size: larger;
    margin-bottom: 50px;
}
.project-section-2-text h1{
    font-size: 60px;
    font-weight: 100;
    padding-top: 120px;
    padding-bottom: 40px;
}
.project-section-2-text p{
    line-height: 20px;
    font-size: larger;
    margin-bottom: 50px;
}
.project-section-3-text h1{
    font-size: 60px;
    font-weight: 100;
    padding-top: 120px;
    padding-bottom: 40px;
}
.project-section-3-text p{
    line-height: 20px;
    font-size: larger;
    margin-bottom: 50px;
}
